.TrendPlacesContainer { /* Assuming this is the class of your container */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 6vw; /* This gap will scale with the viewport width */
}

.TrendPlace {
  width: 20vw; /* Adjust width based on viewport width */
  height: 26.67vw; /* Adjust height to maintain aspect ratio, e.g., 4:3 */
  max-width: 300px; /* Maximum width */
  max-height: 400px; /* Maximum height */
  min-width: 200px; /* Minimum width */
  min-height: 267px; /* Minimum height to maintain aspect ratio */
  position: relative;
  background-color: whitesmoke;
  transition: all .1s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* Added border-radius for consistent styling */
  border: 1px solid transparent; /* Default border color */
}

.TrendPlace:hover {
  border-color: rgba(0,0,0,.4);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}

.TrendPlace .RateBar {
  width: 40%;
  height: 20%;
  background-color: green;
  border-top-left-radius: 8px;
}

.TrendPlace .Name {
  bottom: 5%;
  background-color: darkgray;
}

.TrendPlace .Name h2 {
  font-size: 1.5vw; /* Scalable font size */
  color: white;
}

.TrendPlace img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}
