.TrendPlace {
  flex: 1 0 20vw; /* Starts with a basis of 20vw, but can grow */
  height: auto; /* Height is automatic */
  aspect-ratio: 2 / 3; /* Maintain an aspect ratio of 2:3 */
  position: relative;
  background-color: whitesmoke;
  transition: all .1s linear;
  margin: 1vw; /* Scalable margin for spacing based on viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid transparent;
}

.TrendPlace:hover {
  border-color: rgba(0,0,0,0.4);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}

.TrendPlace .RateBar, .TrendPlace .Name {
  width: 100%;
  position: absolute;
}

.TrendPlace .RateBar {
  top: 0;
  height: 20%;
  background-color: green;
  border-top-left-radius: 8px;
}

.TrendPlace .Name {
  bottom: 5%;
  height: 20%;
  background-color: rgba(169, 169, 169, 0.383);
  transform: translateY(0); /* Adjusted for alignment */
}

.TrendPlace .Name h2 {
  font-size: 1.5vw; /* Scalable font size based on viewport width */
  color: white;
}

.TrendPlace img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}
