.Trending {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
}

.Trending .title {
  width: 100%;
  text-align: left; /* Align the title to the left */
}

.Trending .title h1 {
  color: rgb(80, 80, 80);
  font-size: 40px;
}