.Trending {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 2vh;
  background-color: rgb(255, 255, 255);
/*  need to standardize*/
}
.Trending .title {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: -21px;
  font-size: 50px;
}

.Trending .title h1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
}