.resultsandfilter {
  display: flex;
  justify-content: space-between;
}

.resultseparator {
  width: 1px;
  background-color: #ccc; /* Grey color for the line */
  margin: 0 30px; /* Adjust spacing as needed */
  height: 500px;
}