.background-container {
  position: relative;
  height: 500px; /* Adjust based on your design */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; /* For white text color */
  overflow: hidden; /* Hide the overflow caused by the pseudo-element */
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0; /* Full cover */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('/images/campus_background.jpeg') no-repeat center center; /* Dark overlay */
  background-size: cover;
  filter: blur(0px); /* blur effect on image */
  z-index: -1; /* Place the pseudo-element behind the content */
}

.university-title {
  margin: 0;
  font-size: 3rem; /* Large font size for the title */
  text-align: center; /* Center the text horizontally */
}
.choose-campus-btn {
  margin-top: 1rem;
  height: 3rem;
  width: 10rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to right, #5ea5fc, #6379fe); /* Gradient background */
  color: #fff;
  cursor: pointer;
  position: relative; /* Needed to position the pseudo-element */
  overflow: hidden; /* Ensures the pseudo-element doesn't exceed the button's bounds */
  transition: transform 0.2s ease; /* Transition for transform */
}

.choose-campus-btn::after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0; /* Full cover */
  background-color: rgba(99, 122, 254, 0.3); /* Semi-transparent overlay for visual feedback on hover */
  opacity: 0; /* Hide the overlay initially */
  transition: opacity 0.3s ease; /* Smooth transition for the opacity */
  transform: scale(1.01); /* Initial scale */
  border-radius: inherit; /* Match the border-radius of the button */
}

.choose-campus-btn:hover, .choose-campus-btn:focus {
  background-image: linear-gradient(to right, #5ea5fc, #6379fe); /* Adjust the gradient on hover/focus for visual feedback */
  transform: scale(1.01); /* Slight increase in size on hover/focus for interaction feedback */
}

.choose-campus-btn:hover::after, .choose-campus-btn:focus::after {
  opacity: 1; /* Show the overlay on hover/focus */
  transform: scale(1.05); /* Slight increase for a bouncy effect */
}

.choose-campus-btn:active {
  transform: scale(0.98); /* Slight decrease in size on active to simulate a press effect */
}
