.background-container {
  position: relative;
  height: 500px; /* Adjust based on your design */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; /* For white text color */
  overflow: hidden; /* Hide the overflow caused by the pseudo-element */
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0; /* Full cover */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('/images/campus_background.jpeg') no-repeat center center; /* Dark overlay */
  background-size: cover;
  filter: blur(0px); /* blur effect on image */
  z-index: -1; /* Place the pseudo-element behind the content */
}

.university-title {
  margin: 0;
  font-size: 3rem; /* Large font size for the title */
}

.choose-campus-btn {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(to right, #5ea5fc, #6379fe); /* Gradient background */
  color: #fff;
  cursor: pointer;
  position: relative; /* Needed to position the pseudo-element */
  overflow: hidden; /* Ensures the pseudo-element doesn't exceed the button's bounds */
  transition: background-color 0.3s ease; /* Transition for background color */
}

.choose-campus-btn::after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0; /* Full cover */
  background-color: #637afe4d; /* Replace with the color you want on hover */
  opacity: 0; /* Hide the overlay initially */
  transition: opacity 0.3s ease; /* Transition for the opacity */
  border-radius: inherit; /* Match the border-radius of the button */
}

.choose-campus-btn:hover::after {
  opacity: 2; /* Show the overlay on hover */
}

