/* FilterRating.css */

.filter-rating {
    display: flex;
    flex-direction: column;
    order:3;
    /*margin-left: 2%;*/
    background: white;
    align-items: center;
    padding: 2em;
    margin-top: 15vh;
    /*margin-right: -5em;*/
    /*box-shadow: 0 2px 12px rgba(0,0,0,0.1);*/
    width: 45%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.filterhead {
    width: 100%;
    color: #333;
    margin-bottom: 30px;
    /*margin-left: -30px;*/
    top: 30px;
    text-align: center;
}

.range-slider {
    width: 80%;
    display: flex;
    justify-content: center; /* Center slider container */
    position: relative;
}

.range-slider label {
    display: block;
    color: #606770;
    margin-bottom: 5px;
}

.range-slider__range {
    width: 85%; /* Relative width to the parent */
    -webkit-appearance: none;
    height: 8px;
    border-radius: 5px;
    background: #e9ecef;
    outline: none;
    cursor: pointer;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #b2b1b1; /* Dark green */
    cursor: pointer;
    transition: background 0.1s ease-in-out;
}

.range-slider__range:active::-webkit-slider-thumb,
.range-slider__range:focus::-webkit-slider-thumb {
    background: #8d8c8c; /* Darker shade for active state */
}

.range-slider__value {
    position: absolute;
    top: 8vh; /* Adjusted to move the box up to create more space between the box and the slider */
    left: 50%;
    margin-left: 4%;
    transform: translateX(-50%);
    background-color: #000000; /* Dark background for contrast */
    color: #fff; /* White text for readability */
    padding: 12px 50px; /* Adjusted padding to make the box taller */
    border-radius: 4px;
    font-size: 20px; /* Adjust if you want the text bigger */
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 64, 0, 0.3); /* Subtle shadow for depth */
    z-index: 2;
    display: flex; /* Added for flexbox layout */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    height: 5vh; /* Fixed height to better control the size and centering of the content */
}




.master-toggle, .subratings-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #006400; /* Dark green */
}

input:focus + .slider {
    box-shadow: 0 0 1px #006400; /* Dark green */
}

.zero.disabled {
    color: #888; /* or any other shade of grey you prefer */
}


input:checked + .slider:before {
    transform: translateX(26px);
}

.disabled .range-slider__range,
.disabled label {
    opacity: 0.5;
}
.stack {
    width: 100%; /* Take full width for better control */
    display: flex;
    justify-content: center; /* Center the chips */
    margin-top: 2em;
}
.chip {
    margin: 0 8px; /* Provide some horizontal space between chips */
}

@media (max-width: 768px) {
    .filter-rating {
        width: 100%; /* Adjust as necessary */
        /*margin-right: 0; !* Reset the right margin on smaller screens *!*/
        margin-left: 0;
        padding: 1em;
        margin-bottom: 20px; /* Add some spacing below */
        order:1;
    }

    .chips-container {
        justify-content: flex-start; /* Align chips to the start */
        gap: 5px; /* Reduce the gap on smaller screens */
    }

    .chip {
        width: auto; /* Let the chip adjust its width */
        margin-bottom: 5px; /* Adjust margin as necessary */
    }
}