.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.logo {
  font-size: 24px;
  font
}

.nav-links {
  display: flex;
  white-space: nowrap; /* Prevents wrapping of child elements */
}
@media (max-width: 768px) { /* Adjust the max-width */
  .nav-links {
    flex-wrap: nowrap; /* Ensures buttons don't wrap on smaller screens */
  }
  .login-btn, .signup-btn {
    padding: 5px 10px; /* Adjust the padding to make the buttons smaller */
    font-size: 0.8rem; /* Adjust font size to make text smaller */
  }
}
.login-btn, .signup-btn {
  white-space: nowrap;
  margin-left: 10px;
  padding: 5px 15px;
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
}
