.nav-bar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fffffff4;
  z-index: 1000;
  width: 100%;
}

.logo {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  display: inline-block;
  color: #000;
  cursor: pointer;
}
.logo::after {
  content: 'EagleRating';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 128, 255, 0.9);
  clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  animation: animateShine 4s ease-in-out infinite;
}

.logo:hover::after {
  animation-play-state: paused;
}

@keyframes animateShine {
  0%, 100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

.nav-links {
  display: flex;
  white-space: nowrap;
}

.login-btn, .signup-btn {
  white-space: nowrap;
  height: 30px;
  padding: 5px 15px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.signup-btn {
  margin-right: 20px;
}
.login-btn {
  margin-right: 0px;
}
.login-btn:hover, .signup-btn:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}
.login-btn:active, .signup-btn:active {
  animation: bounce 0.5s ease;
}
@keyframes bounce {
  0%, 100% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.05); /* Bounce effect, adjust scale value for more/less bounce */
  }
}
.separator {
  height: 30px;
  width: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.user-name {
  margin-top: .5vh;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-right: 10px; /* Adjust spacing as needed */
}


@media (max-width: 768px) {
  .logo {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav-links {
    display: flex;
    justify-content: flex-start;
    max-width: 140px;
    padding: 0;
    margin: 0;
  }
  .login-btn, .signup-btn {
    white-space: nowrap;
    height: 3.5vh;
    padding: 5px 15px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .signup-btn {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: -85px;
    border: none;
    padding: 5px;
  }
  .search-bar {
    display: none; /* Hide the desktop search bar on small screens */
  }
  .mobile-search-bar {
    display: block; /* Show the mobile search bar on small screens */
  }
}