.top-ratings {
    font-family: Arial, sans-serif;
    text-align: left;
    margin-bottom: 20px;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.tag {
    background-color: #f2f2f2;;
    color: #333;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
}

.rating-button {
    background-color: #333;
    color: ghostwhite;
    border: none;
    padding: 1.8rem 4rem;
    border-radius: 10rem; /* more circle */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 2rem;
}

.rating-button:hover {
    background-color: #555555; /* suspension color on background */
}
