.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.tag {
  background-color: #f2f2f2;
  color: #333;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 1rem;
  font-size: 1rem; /* Adjusted from 25px to 1rem for better scalability */
  text-align: center;
  white-space: nowrap; /* Prevents the text inside tags from wrapping */
  flex-grow: 0; /* Prevents the tag from growing to fill the space */
  flex-shrink: 0; /* Prevents the tag from shrinking */
  min-width: max-content; /* Ensures each tag only takes as much width as its content requires */
}

.top-ratings {
  font-family: Arial, sans-serif;
  text-align: left;
}

.top-tags-name {
  text-align: left;
}
