.search-bar {
    width: 300px; /* Adjust the width as needed */
    border-radius: 200px; /* Adjust the border-radius to make it round */
    padding: 10px; /* Add padding for better visual appearance */
}

.container {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh; /* Set height of container to full viewport height */
}

.title {
    color:rgb(45, 45, 45)
}