.user-images {
  position: absolute; /* Positioning relative to .Image */
  top: 56%; /* Move the top of .user-images to the vertical center */
  left: 40%; /* Move the left of .user-images to the horizontal center */
  transform: translate(
    -50%,
    -50%
  ); /* Center .user-images both vertically and horizontally */
}

.images-container img {
  display: none;  /* Keeps images hidden until they have the 'active' class */
  width: 550px;   /* Fixed width */
  height: 448px;  /* Fixed height */
  object-fit: cover;  /* Ensures the image covers the area, cropping as needed */
  margin-left: 15em;
}

.images-container img.active {
  display: block;  /* Makes the active image visible */
}


.arrow-btn {
  padding: 1em;  /* scalable padding */
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 2em;  /* Larger font size for better visibility */
  border-radius: 50%;
  transition: all 0.3s ease;
  width: 1em;  /* Adjust width to be dynamic based on font size */
  height: 1em;  /* Adjust height to be dynamic based on font size */
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn:hover {
  background-color: #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
}


.prev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
