.result-list {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 60%;
  margin-right: auto;
  margin-left: auto; 
  margin-top: 30px;
  margin-bottom: 30px;
}

.result-item {
  position: relative;
  display: flex;
  align-items: center; /* aligns the text and the box vertically */
  border: 1px solid #cccccc1b; /* light gray border */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f508; /* light gray background */
  width: 100%;
  transition: transform 0.2s ease;
  margin-left: -10px;
}
.result-item:hover {
  transform: scale(1.01); /* Slightly enlarge on hover */
}
.result-item:active {
  animation: bounce 0.5s ease;
}
@keyframes bounce {
  0%, 100% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.05); /* Bounce effect, adjust scale value for more/less bounce */
  }
}


.result-item .rating-box {
  color: white;
  padding: 20px 30px; /* size of the box */
  margin-right: 40px;
  margin-left: 5px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.3em;
}

.rating-box .rating-number {
  font-size: 1.2em; 
  font-weight: 800;
  color: #ffffff;
}


.rating-description-below {
  font-size: 0.8em; /* smaller font size for the rating description */
  color: #000000; /* light gray color for the text */
  margin-top: 4px; /* space between the rating number and this text */
}

.highlight-tag {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.result-item h3 {
  margin: 0;
  font-size: 1.5em; /* slightly larger font for the title */
}

.result-item p {
  margin: 0;
  color: #e8e5e569; /* dark gray color for the descripti.footer {
  background: linear-gradient(to right, #b0cff4, #c1c9f6); /* Gradient background */
  color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 0px;
 font-size: 1em;
}

.footer-section {
  flex: 1;
  margin: 0 15px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 14px;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 15px;
  margin-bottom: 10px;
  border: 2px solid #c1c9f6;
  border-radius: 4px;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
  color: #333;
}

.contact-form input {
  margin-top: 0px;
  height: 0px;
}

.contact-form textarea {
  width: 90%;
  height: 75px;
}

.contact-form button,
.contact-form input[type="submit"] {
  background-image: linear-gradient(to right, #5ea5fc, #6379fe);
  color: #fff;
  padding: 9px 30px;
  margin: 0 0 10px; /* Adjusted bottom margin */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.2s ease, background-color 0.3s ease; /* Added transform to the transition */
}

/* Enhancing hover and focus with scale */
.contact-form button:hover,
.contact-form input[type="submit"]:hover,
.contact-form button:focus,
.contact-form input[type="submit"]:focus {
  transform: scale(1.05); /* Slight increase in size on hover/focus */
  background-color: #4b6cb7; /* Darker shade for hover effect */
}

.contact-form button:active,
.contact-form input[type="submit"]:active {
  transform: scale(0.95); /* Slight decrease in size to simulate a press effect */
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 80%;
  }
}

.result-item .description {
  font-size: 0.8em;
  color: #999; /* lighter gray color */
  margin-top: 4px; /* space between main description and this line */
  font-size: 1em;
}

.rating-button {
  width: 98%;
  height: 5rem;
  padding: 0 10%;
  background-image: linear-gradient(to right, #5ea5fc, #6379fe);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  outline: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0%;
  margin-right: 1%;  
  display: block;
}



.rating-button:hover, .rating-button:focus {
  background-image: linear-gradient(to right, #5ea5fc, #6379fe); /* Slightly change the gradient on hover/focus for visual feedback */
  transform: scale(1.01); /* Slight increase in size on hover/focus for interaction feedback */
}

.rating-button:active {
  transform: scale(0.98); /* Slight decrease in size on active to simulate a press effect */
  opacity: 1;
}
.highlight-tag img {
  width: 20px; /* Adjust as needed */
  height: auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  .result-item {
      flex-direction: column;
      padding: 10px;
  }

  .rating-button {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
  }
}

