/* Base styling for the page */
.BookmarkPage {
  background-color: #ffffff; /* Light grey background for the whole page */
}

/* Styling for the NavBar and Footer might be globally set, so no changes here unless needed */

/* Container and layout */
.BookmarkPage .container.profile {
  max-width: 1560px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff; /* White background for the content area */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  border-radius: 8px;
  margin-top: 3em;
  margin-bottom: 3em;
}

/* Profile header */
.BookmarkPage .profile-heading {
  border-bottom: 1px solid #ffffff; /* Light grey border for separation */
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.BookmarkPage .profile-title {
  font-size: 28px; /* Larger font size for the main title */
  color: #007bff; /* Bootstrap primary blue for title */
  margin-bottom: 5px;
}

.BookmarkPage .profile-subtitle {
  font-size: 18px;
  color: #6c757d; /* Bootstrap secondary text color */
}

/* Columns for Likes and Dislikes */
.BookmarkPage .column {
  padding: 10px;
  margin-top: 10px;
}

.BookmarkPage .stat-label {
  font-size: 18px;
  color: #343a40; /* Slightly darker gray for text */
  font-weight: 400;
}

.BookmarkPage .stat-val {
  font-size: 22px;
  font-weight: bold;
  color: #007bff; /* Reusing the primary blue for emphasis */
}

/* Buttons */
.BookmarkPage .edit-preferences-button {
  background-image: linear-gradient(to right, #5ea5fcd5, #637afed5); /* Gradient background */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
}

.BookmarkPage .edit-preferences-button:hover {
  background-image: linear-gradient(to right, #5ea5fcd5, #637afed5); /* Gradient background */

}

.BookmarkPage .edit-account-settings-button {
  background-image: linear-gradient(to right, #5ea5fcd5, #637afed5); /* Gradient background */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
}

.BookmarkPage .edit-account-settings-button {
  background-image: linear-gradient(to right, #5ea5fcd5, #637afed5); /* Gradient background */

}

/* Modal specific styles */
.BookmarkPage .modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1050; /* High z-index to be on top */
}

.BookmarkPage .modal.is-active {
  display: flex;
}

.BookmarkPage .modal-card {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.BookmarkPage .modal-card-head {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  background-color: #f8f9fa;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.BookmarkPage .modal-card-title {
  font-size: 20px;
  color: #343a40;
}

.BookmarkPage .delete {
  float: right;
  font-size: 24px;
  color: #dc3545; /* Bootstrap danger color */
  border: none;
  background: none;
}

.BookmarkPage .modal-save-button, .BookmarkPage .modal-cancel-button {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  border: none;
}

.BookmarkPage .modal-save-button {
  background-color: #28a745; /* Bootstrap success green */
  color: white;
}

.BookmarkPage .modal-save-button:hover {
  background-color: #218838;
}

.BookmarkPage .modal-cancel-button {
  background-color: #6c757d; /* Bootstrap secondary gray */
  color: white;
}

.BookmarkPage .modal-cancel-button:hover {
  background-color: #5a6268;
}

/* Slider arrows */
.BookmarkPage .slider-arrow-next,
.BookmarkPage .slider-arrow-prev {
  cursor: pointer;
  display: block;
}

/* Carousel Container */
.BookmarkPage .slider-container {
  display: flex;
  justify-content: center;
}

/* Carousel Arrows */
.BookmarkPage .slider-arrow-next, .BookmarkPage .slider-arrow-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5vw;
  height: 5vw;
  min-width: 30px;
  min-height: 30px;
  border: none;
  background-color: #7cc8ff; /* Light blue background */
  color: black;
  font-size: 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0);
  margin: 10px;
}

.BookmarkPage .slider-arrow-next:hover, .BookmarkPage .slider-arrow-prev:hover {
  background-color: #c9c9c500;
}

.BookmarkPage .slider-arrow-next {
  right: 0;
}

.BookmarkPage .slider-arrow-prev {
  left: 0;
}

<<<<<<< HEAD
.page-title {
  text-align: center; /* Center align the title */
  font-size: 24px; /* Adjust the font size */
  color: #333; /* Set the color */
  margin-top: 20px; /* Add some top margin */
}


.result-item-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #cccccc1b;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f508;
  width: 90%;
  transition: transform 0.2s ease;
  margin-left: 5%;
}

.result-item-wrapper:hover {
  transform: scale(1.01);
}

.result-item-wrapper:active {
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0%, 100% {
      transform: scale(1.0);
  }
  50% {
      transform: scale(1.05);
  }
}

.rating-box-wrapper {
  color: white;
  padding: 20px 30px;
  margin-right: 20px;
  margin-left: 5px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.3em;
}

.rating-box-wrapper .rating-number {
  font-size: 1.2em;
  font-weight: 800;
  color: #ffffff;
}

.highlight-tag-wrapper {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.result-content {
  flex: 1;
}

.result-content h3 {
  margin: 0;
  font-size: 1.5em;
}

.result-content p {
  margin: 0;
  color: #e8e5e569;
  font-size: 1em;
}

.bookmark,
.bookmark-highlight {
  width: 20px;
  height: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .result-item-wrapper {
      flex-direction: column;
      padding: 10px;
  }
}
.result-content .description {
  font-size: 0.8em;
  color: #999; /* lighter gray color */
  margin-top: 4px; /* space between main description and this line */
  font-size: 1em;
}
=======
>>>>>>> 91b97a5f5 (bleh)
