.place-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin-top: 40px; /* Increase top margin */
  margin-left: -50px; /* Increase left margin */
  margin-right: 50px; /* Increase right margin */
  width: 100%;
}
.header-left,
.location {
  width: 50%; /* Set the width to 50% */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Align contents vertically */
  margin-left: 5.5em; /* Increase left margin */
}

.header {
  display: flex;
  flex-direction: row;
}
.header-left {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative; /* Ensure positioning works relative to this container */
}

.header-left-l {
  display: flex;
  flex-direction: column;
}
.header-left-r {
  display: flex;
  flex-direction: column;
}
.rating-box-details {
  width: 160px;
  height: 120px;
  color: white;
  padding: 12px 16px;
  margin-right: 10px;
  margin-top: 15px;
  margin-left: 20px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.3em;
  align-items: center;
  justify-content: center;
  display: flex;
}

.mainInfo {
  margin-left: 1em;
  margin-bottom: 1.5em;
}

.placeName {
  color: black;
  margin-top: 20px;
  margin-bottom: -14px;
  font-size: 50px;
}

.building {
  margin-bottom: -20px;
}

.rating-number-details {
  font-size: 5em;
  font-weight: 800;
  color: #ffffff;
}

.rating-amount {
  margin-top: 10px;
  margin-left: 5.5em;
}

.location-link {
  /* margin-top: 20px; */
  /* margin-left: 25px; */
  font-weight: normal;
}
.location {
  margin-top: 30px;
  margin-left: 7em;
}
.Image {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative; /* Ensure positioning works relative to this container */
  justify-content: center;
}
.Image img {
  max-width: 100%; /* Ensure the image does not exceed the container's width */
  max-height: auto; /* Ensure the image does not exceed the container's height */
}

.locationAndImage {
  display: flex;
  flex-direction: row;
}

.ratings {
  margin-left: 20px;
  margin-top: -37.5px;
}


.rating-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px; /* Adjust the margin as needed */
}

.rating-button-container .rating-button {
  background-color: #333;
  color: ghostwhite;
  border: none;
  padding: 1.8rem 2rem;
  border-radius: 3rem; /* more circle */
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 2rem;
  width: 500px;
  height: 150px;
  font-size: 60px;
  margin-top: 70px;
}

.rating-button-container .rating-button:hover {
  background-color: #555555; /* suspension color on background */
}

.tag-level {
  width: 100%;
  display: flex;
}
.tag-level-l {
  width: 50%;
  display: flex;
  justify-content: center; /* Center contents horizontally */
  align-items: center; /* Center contents vertically */
}
