.place-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin-top: 1em; /* Increase top margin */
  margin-left: 1em; /* Increase left margin */
  margin-right: 8em; /* Increase right margin */
  width: 100%;
}
.header-left,
.location {
  width: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Align contents vertically */
  margin-left: 4.5em; /* Increase left margin */
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.header-left {
  display: flex;
  flex-direction: row;
  width: 150%;
  margin-left: 10%;
}
.header-right {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center child elements horizontally */
  justify-content: flex-start; /* Adjust alignment as needed */
  width: 100%; /* Width of the header-right container */
  margin-left: 5em;
  padding-top: 1em;
}


.rating-button {
  margin-left: 9%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

.header-left-l {
  flex-direction: column;
  margin-left: 2em;
}
.header-left-r {
  display: flex;
  width: 150%;
  flex-direction: column;
  white-space: nowrap;
}
.rating-box-details {
  width: 200px;
  height: 120px;
  color: white;
  padding: 12px 16px;
  margin-right: 2em;
  margin-left: 1em;
  margin-top: 15px;
  font-weight: bold;
  border-radius: 15px;
  font-size: 1.3em;
  align-items: center;
  justify-content: center;
  display: flex;
}

.mainInfo {
  margin-left: 1em;
  margin-bottom: 1.5em;
}

.placeName {
  color: black;
  margin-top: 20px;
  margin-bottom: -14px;
  font-size: 50px;
}

.building {
  margin-bottom: -20px;
}

.rating-number-details {
  font-size: 5em;
  font-weight: 800;
  color: #ffffff;
}

.rating-amount {
  margin-top: 10px;
  margin-left: 6.5em;
}

.location-link {
  color: black;       
  text-decoration: none; 
  font-weight: normal;   
}
.location-link:hover,
.location-link:focus {
    text-decoration: none; /* Ensures there is no underline on hover/focus */
    color: black;         /* Keeps the color black even on hover */
}
.location {
  margin-top: 30px;
  margin-left: 15em;
}
.Image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1000px;  /* Fixed width */
  height: 500px;  
}

.Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.locationAndImage {
  display: flex;
  flex-direction: row;
  margin-right: 12em;
}
.ratings {
  margin-left: 20px;
  margin-top: -37.5px;
}



.rating-buttona-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;               
  width: 100%;             
  max-width: 100%;  
  margin-bottom: 2em       
}

.rating-button-containera .rating-buttona {
  background-color: #333;
  color: ghostwhite;
  border: none;
  padding: 1rem 2rem;
  border-radius: 25px; /* more circle */
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 2rem;
  width: 10em;
  height: 2em;
  font-size: 3em;
}
.rating-buttona {
  background-image: linear-gradient(to right, #5ea5fc, #6379fe); /* Gradient background */
  color: white;
  border: none;
  padding: 0.75em 1.5em; /* Adjust padding for button size */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */
  font-size: 1.5em; /* Adjust font size as necessary */
  width: 12em; /* Full width within container */
  height: 3.5em; /* Fixed height */
  display: block;
  margin-top: -1em; /* No additional top margin needed */
  margin-bottom: 20px; /* Space below the button */
  margin-right: 8em ;
}

.rating-buttona:hover,
.rating-buttona:focus {
  transform: scale(1.01); /* Slight increase in size on hover/focus */
}

.rating-buttona:active {
  transform: scale(0.98); /* Slight decrease in size on active to simulate a press effect */
  opacity: 0.9; /* Slight transparency change */
}

.tag-level {
  width: 100%;
  display: flex;
}
.tag-level-l {
  width: 50%;
  display: flex;
  justify-content: center; /* Center contents horizontally */
  align-items: center; /* Center contents vertically */
}
@media (max-width: 768px) {
  .rating-buttona {
      padding: 0.5em 1em;   
      font-size: 1em;      
  }
}
