.Category {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10vh;
  background-color: rgb(255, 255, 255);
/*  need to standardize*/
}
.Category .title {
  margin-left: 20px;
}
.Category .title h1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
}
