.Category {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5vh;
  background-color: rgb(255, 255, 255);
/*  need to standardize*/
}
.Category .title {
  width: 100%;
  text-align: left; /* Align the title to the left */
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: -14px;
  font-size: 50px;
}
.Category .title h1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
}
