.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusts the space distribution */
  width: 70%;
  padding: 0.5em 1em;
  border-radius: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.logo {
  margin-right: 1em;
}
.search-input-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}
.search-input {
  flex-grow: 1;
  height: 2em;
  padding: 0.5em 1em;
  border: none; /* Remove borders */
  outline: none; /* Remove focus outline */
}
.search-btn, .category-btn {
  padding: 5px 15px;
  background-color: #fff;
  border: none; /* Remove borders */
  cursor: pointer;
  /* Adjust the font as needed */
}

.search-btn:hover, .category-btn:hover {
  background-color: #e9e9e9;
}
.search-btn:active, .category-btn:active {
  position: relative;
  top: 1px;
}
.login-btn, .signup-btn {
  margin-left: 10px; /* Adds spacing between buttons */
  padding: 5px 15px; /* Adjust as needed */
  /* Other styles... */
}