.RatingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.divider {
    margin: 20px 0; /* Adjust the margin as needed */
    border: none;
    border-top: 1px solid #ccc; /* Set the color and style of the divider */
    margin-top: 90px;
  }
  