.resultsandfilter {
  display: flex;
  justify-content: space-between;
  width: 90%
}

.resultseparator {
  width: 1px;
  background-color: #bd5a5a; /* Grey color for the line */
  margin: 0 30px;
  height: 100vh;
}