
body {
  font-family: 'Helvetica';
  background-color: #FFFFFF; /* Sets the background color to white */
  width: 100.2%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  width: 100%; /* Ensures the .Home container takes up the full viewport width */
  min-height: 100vh; /* Ensures the .Home container takes up at least the full viewport height */
  min-width: 100%;
}
@media (max-width: 768px) {
  body {
    width: 100%; /* Set body width to 100% */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
}