
.TrendPlaces {
  position: relative; /* Ensure absolute positioning works as expected */
  overflow-x: hidden; /* Hide overflowing content */
  width: 100%;
  transition: 0.2s;
  margin-left: auto; /* Set left margin to auto */
  margin-right: auto; /* Set right margin to auto */
}
.TrendPlaces .slider-container {
  display: flex;
  justify-content: center;
}

.TrendPlaces .buttons {
  position: absolute;
  top: 50%; /* Position buttons vertically centered */
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between; /* Align buttons at the ends */
  z-index: 22222;
}
.TrendPlaces .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border:1px solid #555;
  background: rgba( 255, 255, 255, 0.25 );
  transition:0.2s;
}
/*.TrendPlaces .masks{*/
/*  position: absolute;*/
/*  top: 50%; !* Position buttons vertically centered *!*/
/*  left: 0;*/
/*  transform: translateY(-50%);*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  !*display: flex;*!*/
/*  !*justify-content: space-between; !* Align buttons at the ends *!*!*/
/*  z-index: 10000;*/
/*}*/
/*.TrendPlaces .masks .mask{*/
/*  width: 400px;*/
/*  height: 100%;*/
/*  background:rgba( 255, 255, 255, 0);*/
/*  backdrop-filter: blur( 4px );*/
/*}*/
/*.TrendPlaces .masks .leftMask{*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 0;*/
/*  transform: translate(-50%, -50%);*/
/*}*/
/*.TrendPlaces .masks .rightMask{*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  right: 0;*/
/*  transform: translate(-50%, -50%);*/
/*}*/

.TrendPlaces .buttons .prev {
  position: absolute;
  top: 50%;
  left: 7vw;
  transform: translate(-50%, -50%);
}
.TrendPlaces .buttons .next{
  position: absolute;
  top: 50%;
  right: 7vw;
  transform: translate(-50%, -50%);
}
.TrendPlaces .buttons button:hover{
  background-color: #c9c9c5;;
}
.TrendPlace{
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
