.footer {
  background: linear-gradient(to right, #b5d3f8, #9eabf6); /* Gradient background */
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5em;
  font-size: 12px;
  bottom: 0;
}

.footer-section {
  flex: 1;
  margin: 0 15px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 14px;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #fdfdfd3a;
  color: #333;
}

.contact-form input {
  margin-top: 0px;
  height: 0px;
}

.contact-form textarea {
  width: 90%;
  height: 75px;
}

.contact-form button,
.contact-form input[type="submit"] {
  background-image: linear-gradient(to right, #5ea5fc, #6379fe);
  color: #fff;
  padding: 9px 30px;
  margin: 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.2s ease, background-color 0.3s ease; /* Added transform to the transition */
}

/* Enhancing hover and focus with scale */
.contact-form button:hover,
.contact-form input[type="submit"]:hover,
.contact-form button:focus,
.contact-form input[type="submit"]:focus {
  background-color: #4b6cb7; /* Darker shade for hover effect */
}

.contact-form button:active,
.contact-form input[type="submit"]:active {
  transform: scale(0.95); /* Slight decrease in size to simulate a press effect */
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 80%;
  }
}
