.comment-filter {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  
  .comment-filter label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .comment-filter select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 14px;
    cursor: pointer;
  }
  
  .comment-filter select:hover {
    background-color: #e0e0e0;
  }
  
  .comment-filter select:focus {
    outline: none;
    border-color: #5cacee;
  }
  
  .comment-filter select option {
    padding: 5px;
  }
  